.git/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.log
*.pid
*.seed
*.pid.lock
.venv/
venv/
.env
.gitignore
README.md
LICENSE
update-log.md
git_auto-pull.bat
client/
*.exe
*.spec
data/
!data/